* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SansSerif;
}

body {
  background: linear-gradient(90deg, #ff69c1 0%, #ffd95e 100%);
}
/* header */
header {
  background-color: white;
  width: 100%;
  height: 50px;
}
.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.link-child {
  margin: 0 20px;
  list-style: none;
}
.link-child a {
  text-decoration: none;
  color: black;
}

.icons {
  display: flex;
  justify-content: end;
}
.img-margin {
  margin-right: 20px;
}
/* Lorem Ipsum */

.bg {
  background-image: url('/public/img1.jpg');
  height: 100svh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.loremIpsumContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: white;
  padding: 40px 32px;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin: 50px;
  max-width: 34rem;
  max-height: 200px;
  background-color: rgba(248, 122, 122, 0.5);
}
.loremIpsumContainer h2 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 2.7rem;
}

.loremIpsumContainer p {
  font-size: 16px;
}

/* Order Now */
.order-head {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
}
.orderContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 250px;
  margin: 20px;
  height: 300px;
  border-radius: 0px 60px;
  background: #fff;
}

section img {
  padding: 20px;
  border-radius: 0px 60px 0px 0px;
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.head-black {
  margin-top: 10px;
  color: black;
  text-align: center;
}
.para-center {
  margin-top: 20px;
  text-align: center;
}

.block-center {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-center a {
  text-decoration: none;
  width: 150px;
  height: 60px;
  border-radius: 60px;
  display: inline-block;
  background: rgba(217, 217, 217, 0.5);
  color: black;
  padding: 20px;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media only screen and (max-width: 680px) {
  header {
    background-color: white;
    width: 100%;
    height: auto;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .links {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link-child {
    margin-bottom: 5px;
  }

  .icons {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .img-margin {
    margin: 0 5px 5px 5px;
  }

  /* Lorem Ipsum */

  .bg {
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loremIpsumContainer {
    padding: 5px;
    color: white;
    background-color: rgba(248, 122, 122, 0.5);
  }
  .loremIpsumContainer h2 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 2rem;
  }

  .loremIpsumContainer p {
    font-size: 1rem;
  }

  /* Order Now */
  .orderContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
